a {
  text-decoration: none;
}

.formTypes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
  padding: 1rem;
  margin: 0px;
}

.formTypes svg {
  color: black;
  width: 3rem;
  height: 3rem;
}

.newForm {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  background-color: white;
  width: 10rem;
  height: 8rem;
  padding: 5px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid gray;
  background-color: white;
  width: 12rem;
  height: 10rem;
  gap: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form p {
  margin: 0px;
}

.form svg {
  color: black;
  width: 3rem;
  height: 3rem;
}

.existentForms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0px;
}

.existentForms ul {
  display: flex;
  gap: 0.5rem;
}

.existentForms a {
  text-decoration: none;
  color: black;
}
